<div *ngIf="user; else notFound" class="row h-100">
	<div class="summary col-md-4 col-sm-12 border-sm-right-none border-right">
		<h2 class="name">{{user.knownAs}}</h2>
		<app-lazy-image [src]="userImage" [cssClass]="'img-fluid w-100 mx-auto d-block'" alt="{{ user.knownAs }}" [responsive]="true"></app-lazy-image>
		<div class="info">
			<small *ngIf="user.likes">{{ user.likes }}<fa-icon icon="heart"></fa-icon></small>
			<small class="status"><fa-icon icon="check-circle"></fa-icon> <!--{{user.status}}--></small>
			<div><span *ngFor="let role of user.roles" class="badge badge-dark">{{role}}</span></div>
			<div><!--<fa-icon *ngFor="let i of range(0, 5)" icon="{{ i <= user.rating ? 'fa-star' : 'fa-star-o' }}"></fa-icon>--></div>
			<dl>
				<dt>First name</dt>
				<dd>{{user.firstName}}</dd>
				<dt>Last name</dt>
				<dd>{{user.lastName}}</dd>
			</dl>
		</div>
		<div *ngIf="!isCurrentUser" class="btn-group">
			<button *ngIf="user.canBeLiked" type="button" class="btn" (click)="like(user.id)"><fa-icon icon="heart"></fa-icon></button>
			<button *ngIf="user.canBeDisliked" type="button" class="btn" (click)="dislike(user.id)"><fa-icon icon="heart-broken"></fa-icon></button>
			<button type="button" class="btn" (click)="selectTab(3)"><fa-icon icon="envelope"></fa-icon></button>
		</div>
	</div>
	<div class="details col-md-8 col-sm-12">
		<div class="header">
			<h3 class="title">User information</h3>
		</div>
		<div class="info">
			<ul ngbNav #nav="ngbNav" [activeId]="activeTab | async" destroyOnHide="true"
				class="nav-tabs" (activeIdChange)="selectTab($event)">
				<li [ngbNavItem]="1">
					<a ngbNavLink>About {{user.knownAs}}</a>
					<ng-template ngbNavContent>
						<div>
							<dl>
								<dt>Date of birth</dt>
								<dd>{{user.dateOfBirth | customDate:'shortDate'}}, {{user.age | number:'1.0-0'}} years old</dd>
								<dt>Member since</dt>
								<dd>{{user.created | customDate:'shortDate'}}</dd>
								<dt>Location</dt>
								<dd>{{user.city}}, {{user.country}}</dd>
								<dt>Member since</dt>
								<dd>{{user.created | customDate:'shortDate'}}</dd>
								<dt>Last active</dt>
								<dd>{{user.lastActive | timeAgo}}</dd>
								<dt *ngIf="user.introduction">Description</dt>
								<dd *ngIf="user.introduction">{{user.introduction}}</dd>
								<dt *ngIf="user.lookingFor">Looking for</dt>
								<dd *ngIf="user.lookingFor" [innerHtml]="user.introduction"></dd>
								<dt *ngIf="user.interests && user.interests.length > 0">Interests</dt>
								<dd *ngIf="user.interests && user.interests.length > 0">
									<span *ngFor="let interest of user.interests"><fa-icon icon="badge"></fa-icon>{{interest}}</span>
								</dd>
							</dl>
							<div *ngIf="isCurrentUser" class="btn-container row flex-row justify-content-end">
								<button type="button" class="btn btn-primary col-12 col-sm-5" routerLink="/members/{{user.id}}/edit">
									<fa-icon icon="edit"></fa-icon> Edit profile
								</button>
							</div>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="2">
					<a ngbNavLink>Photos</a>
					<ng-template ngbNavContent>
						<div class="row container d-flex justify-content-center">
							<div class="grid-margin stretch-card">
								<div class="card card-gallery border-0">
									<div *ngIf="hasUploadFile; else carousel"
										 class="d-flex flex-column p-2">
										<p class="lead mb-2">You can specify additional properties for the file...</p>
										<p>{{ uploadedFile.name }}</p>
										<div class="form-group">
											<textarea id="description" [(ngModel)]="imageProps.description" placeholder="Description" class="form-control" rows="3" maxlength="512"></textarea>
										</div>
										<div class="form-group form-check">
											<input type="checkbox" id="isDefault" [(ngModel)]="imageProps.isDefault" class="form-check-input">
											<label class="form-check-label" for="isDefault">Set as default</label>
										</div>
										<div class="btn-container row flex-row justify-content-end">
											<button type="button" class="btn btn-primary" (click)="imageUploaderUploadClick()">Upload</button>
											<button type="button" class="btn btn-secondary" (click)="imageUploaderCancelClick()">Cancel</button>
										</div>
									</div>
									<ng-template #carousel>
										<div class="card-body p-0">
											<ngb-carousel #galleryCarousel="ngbCarousel" [showNavigationArrows]="false" [showNavigationIndicators]="false"
														  [interval]="false" [activeId]="selectedImageId">
												<ng-template ngbSlide [id]="image.id" *ngFor="let image of images">
													<div class="w-100 h-100"
														 [@fadeInOnEnter]
														 [@fadeOutOnLeave]>
														<div class="picsum-img-wrapper">
															<app-lazy-image [src]="image.url" [cssClass]="'img-fluid'" [responsive]="true"></app-lazy-image>
														</div>
														<div *ngIf="image.description" class="carousel-caption" [innerHtml]="image.description">
														</div>
													</div>
												</ng-template>
											</ngb-carousel>
											<ngb-pagination *ngIf="imagesPagination.count > imagesPagination.pageSize" [pageSize]="imagesPagination.pageSize" [collectionSize]="imagesPagination.count"
															[(page)]="imagesPagination.page" (pageChange)="imagesPageChanged($event)"></ngb-pagination>
										</div>
									</ng-template>
									<div class="card-body d-flex gallery-thumbs">
										<div *ngFor="let image of images" class="thumb"
											 [class.active]="image.id === selectedImageId" (click)="selectImage(image.id)">
											<app-lazy-image [src]="image.thumb" [responsive]="true"></app-lazy-image>
											<div *ngIf="image.description || isCurrentUser" class="overlay">
												<div class="info" *ngIf="image.description" [innerHtml]="image.description">
												</div>
												<div *ngIf="isCurrentUser" class="btn-group text-center" role="group" aria-label="Image actions">
													<button *ngIf="!image.isDefault" type="button" class="btn" (click)="imageDefaultClick(image.id)"><fa-icon icon="check-circle"></fa-icon></button>
													<button type="button" class="btn" (click)="imageEditClick(image.id)"><fa-icon icon="edit"></fa-icon></button>
													<button *ngIf="!image.isDefault" type="button" class="btn" (click)="imageDeleteClick(image.id)"><fa-icon icon="trash"></fa-icon></button>
												</div>
											</div>
										</div>
										<div *ngIf="isCurrentUser" ng2FileDrop class="thumb drop-zone"
											 [uploader]="_uploader" [class.nv-file-over]="hasDropFile" [class.borders]="!hasUploadFile"
											 (fileOver)="imageUploaderHover($event)" (onFileDrop)="imageUploaderDropFiles($event)">
											<div *ngIf="isUploading" class="d-flex flex-column p-2">
												<ngb-progressbar type="dark" textType="white" [value]="uploadProgress" [showValue]="true"></ngb-progressbar>
												<button type="button" class="btn" title="Cancel" (click)="imageUploaderCancelClick()"><fa-icon icon="times"></fa-icon></button>
											</div>
											<div *ngIf="!hasUploadFile" class="d-flex flex-column p-2" title="Drop an image here to be uploaded...">
												<fa-icon icon="upload"></fa-icon>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</li>
				<li *ngIf="!isCurrentUser" [ngbNavItem]="3">
					<a ngbNavLink>Messages</a>
					<ng-template ngbNavContent>
						<small class="text-muted">Messages received from this member</small>
						<app-member-messages [recipientId]="user.id"></app-member-messages>
					</ng-template>
				</li>
			</ul>
			<div [ngbNavOutlet]="nav" class="mt-2 px-2"></div>
		</div>
	</div>
</div>
<ng-template #notFound>
	<h2 class="mx-auto">User not found.</h2>
</ng-template>
