@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default;

$input-btn-padding-y: $input-btn-padding-y-sm;
$input-btn-padding-x: $input-btn-padding-x-sm;

$input-btn-padding-y-lg: $input-btn-padding-y-sm;
$input-btn-padding-x-lg: $input-btn-padding-x-sm;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;

.row {
	margin: 0;
}

@mixin main-box {
	margin-bottom: 0.5rem;
	display: flex;
	flex-flow: column;

	ul, dl {
		list-style-type: none !important;
	}

	ol, ul, dl {
		margin-top: 0;

		li {
			line-height: 1.75rem;
		}
	}
}

.summary {
	@include main-box;

	.name {
		padding: 8px;
		border-left: 8px solid $input-border-color;
	}

	.info {
		.fa,
		.ng-fa-icon {
			margin: 0 2px !important;
		}
	}
}

.details {
	@include main-box;

	.header {
		position: relative;

		> .title {
			padding: 8px 4px;
		}
	}

	.info {
		flex-grow: 1;

		.fa,
		.ng-fa-icon {
			margin: 0 2px !important;
		}
	}
}

.stretch-card {
	width: 100%;
	min-width: 100%;
}

.card-gallery {
	.picsum-img-wrapper {
		img {
			position: relative;
			width: 100%;
		}

		&:after {
			content: '\A';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	.carousel-caption {
		text-align: left;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0 2%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		* {
			color: white;
		}
	}
}

.gallery-thumbs {
	overflow: hidden;
	padding: 0.5rem 0 0 0;

	.thumb {
		flex: 0 0 20%;
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;
		text-align: center;
		overflow: hidden;
		position: relative;

		i {
			font-size: 1.2rem;
		}

		.overlay {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0 2px;
			pointer-events: none;
			background: rgba(255, 255, 255, 0.7);
			opacity: 0;
			-webkit-transition: opacity 0.5s ease, opacity 0.5s ease;
			-moz-transition: opacity 0.5s ease, opacity 0.5s ease;
			-o-transition: opacity 0.5s ease, opacity 0.5s ease;
			transition: opacity 0.5s ease, opacity 0.5s ease;

			.btn:focus {
				box-shadow: none;
			}

			.info {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 6;
				width: 100%;
				word-break: break-all !important;
				overflow-wrap: break-word !important;
				white-space: initial;
				overflow: hidden !important;
				text-overflow: ellipsis !important;

				.h1, .h2, .h3, .h4, .h5, .h6,
				h1, h2, h3, h4, h5, h6 {
					word-break: keep-all !important;
					overflow-wrap: normal !important;
					overflow: hidden !important;
					text-overflow: ellipsis !important;
				}

				> p,
				> div {
					display: contents !important;

					&:after {
						content: "\A";
						white-space: pre;
					}
				}
			}
		}

		&:hover {
			.overlay {
				opacity: 1;
				pointer-events: auto;
				-o-backdrop-filter: blur(5px) opacity(0.65);
				-ms-backdrop-filter: blur(5px) opacity(0.65);
				-moz-backdrop-filter: blur(5px) opacity(0.65);
				-webkit-backdrop-filter: blur(5px) opacity(0.65);
				backdrop-filter: blur(5px) opacity(0.65);
			}
		}

		&.active {
			border-color: $input-border-color;
		}

		&.drop-zone {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: 1px dashed $input-border-color;
			padding: 0;
			&.nv-file-over {
				background-color: $link-hover-color;
				border-color: $input-focus-border-color;
			}
		}
	}
}
