root=true
# Editor configuration, see https://editorconfig.org

[*]
charset=utf-8
indent_style=tab
indent_size=4
insert_final_newline=true
trim_trailing_whitespace=true

# ReSharper inspection severities
resharper_string_literal_wrong_quotes_highlighting=suggestion

[*.ts]
quote_type=double

[*.md]
max_line_length=off
trim_trailing_whitespace=true
