<div class="card mb-4">
	<div class="card-img-wrapper">
		<app-lazy-image [src]="getUserImage(user)" [cssClass]="'card-img-top'" alt="{{ user.knownAs }}" [responsive]="true"></app-lazy-image>
		<div class="overlay">
			<div class="info">
				<h6>{{ user.firstName }} {{ user.lastName }}</h6>
				<p>{{ user.dateOfBirth | date }} ({{ user.age | number:'1.0-0' }} years)</p>
				<p>Since: {{ user.created | date }}</p>
				<p>Active: {{ user.lastActive | timeAgo }}</p>
				<p *ngIf="user.introduction" [innerHtml]="user.introduction"></p>
			</div>
			<div class="btn-group text-center" role="group" aria-label="Member actions">
				<button type="button" class="btn" [routerLink]="['/members/', user.id]"><fa-icon icon="user"></fa-icon></button>
				<button *ngIf="user.canBeLiked" type="button" class="btn" (click)="like(user.id)"><fa-icon icon="heart"></fa-icon></button>
				<button *ngIf="user.canBeDisliked" type="button" class="btn" (click)="dislike(user.id)"><fa-icon icon="heart-broken"></fa-icon></button>
				<button type="button" class="btn" [routerLink]="['/members/', user.id]" [queryParams]="{tab: 3}"><fa-icon icon="envelope"></fa-icon></button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<h6 class="card-title">
			{{ user.knownAs }}
			<span *ngIf="user.likes" class="badge badge-dark float-right">{{ user.likes }}</span>
		</h6>
		<p>{{ user.city }}, {{ user.country }}</p>
	</div>
</div>
