.card {
	background-color: transparent;
	border: none;

	.card-img-wrapper {
		overflow: hidden;
		position: relative;

		.overlay {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 4px 8px;
			pointer-events: none;
			background: rgba(255, 255, 255, 0.7);
			opacity: 0;
			-webkit-transition: opacity 0.5s ease, opacity 0.5s ease;
			-moz-transition: opacity 0.5s ease, opacity 0.5s ease;
			-o-transition: opacity 0.5s ease, opacity 0.5s ease;
			transition: opacity 0.5s ease, opacity 0.5s ease;

			> div:first-child {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 6;
				width: 100%;
				word-break: break-all !important;
				overflow-wrap: break-word !important;
				white-space: initial;
				overflow: hidden !important;
				text-overflow: ellipsis !important;
				cursor: pointer;

				.h1, .h2, .h3, .h4, .h5, .h6,
				h1, h2, h3, h4, h5, h6 {
					word-break: keep-all !important;
					overflow-wrap: normal !important;
					overflow: hidden !important;
					text-overflow: ellipsis !important;
				}

				> p {
					display: contents !important;

					&:after {
						content: "\A";
						white-space: pre;
					}
				}
			}
		}

		.card-img,
		.card-img-top,
		.card-img-bottom {
			transform: scale(1.0, 1.0);
			transition-duration: 0.5s;
			transition-timing-function: ease-out;
		}

		&:hover {
			.overlay {
				opacity: 1;
				pointer-events: auto;
				-o-backdrop-filter: blur(5px) opacity(0.65);
				-ms-backdrop-filter: blur(5px) opacity(0.65);
				-moz-backdrop-filter: blur(5px) opacity(0.65);
				-webkit-backdrop-filter: blur(5px) opacity(0.65);
				backdrop-filter: blur(5px) opacity(0.65);
			}

			.card-img,
			.card-img-top,
			.card-img-bottom {
				transform: scale(1.2, 1.2);
				opacity: 0.7;
			}
		}
	}

	.card-body {
		padding: 0.1rem;
	}
}
