<div class="card bg-transparent border-0">
	<article class="card-body text-center">
		<img class="mb-1" src="assets/images/logo_128x128.png" alt="" width="128" height="128">
		<h4 class="card-title mt-1 text-center">Sign in</h4>
		<p class="text-center">Let the fun begin...</p>

		<form [formGroup]="form$" (ngSubmit)="login(form$.value)" class="form-signin text-center">
			<div class="form-group">
				<label class="sr-only" for="userName">User Name</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text"><fa-icon icon="user"></fa-icon></div>
					</div>
					<input type="text" id="userName" formControlName="userName" required maxlength="128"
						   class="form-control" placeholder="User name" autofocus />
				</div>
				<small class="text-danger" *ngFor="let message of (formHelper.getControlErrors('userName'))" [innerHTML]="message">
				</small>
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text"><fa-icon icon="lock-open"></fa-icon></div>
					</div>
					<input type="password" id="password" formControlName="password" required maxlength="128"
						   class="form-control" placeholder="Password" />
				</div>
				<small class="text-danger" *ngFor="let message of (formHelper.getControlErrors('password'))" [innerHTML]="message">
				</small>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" formControlName="rememberMe" value="remember-me"/> Remember me
				</label>
			</div>
			<div class="btn-container justify-content-center">
				<button type="button" class="btn btn-secondary col-12 col-md-5" [routerLink]="['/register']">Sign up</button>
				<button type="submit" class="btn btn-primary col-12 col-md-5" [disabled]="formHelper.isFormInvalid()">Sign in</button>
			</div>
			<div class="mt-3">
				<a href="#" class="mt-3">Forgot user name / password?</a>
			</div>
		</form>
	</article>
</div>
