<div class="form-row align-items-center">
	<div class="col-sm-2">
		<div class="form-check">
			<input type="checkbox" name="likers" class="form-check-input" [(ngModel)]="pagination.likers" />
			<label>Who likes me</label>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-check">
			<input type="checkbox" name="likees" class="form-check-input" [(ngModel)]="pagination.likees" />
			<label>Whom I like</label>
		</div>
	</div>
	<div class="col-sm-2">
		<select class="form-control" title="Gender" [(ngModel)]="pagination.gender">
			<option *ngFor="let gender of genders()" [value]="gender.value" [selected]="gender.selected">{{ gender.text }}</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="number" name="minAge" class="form-control" title="Minimum age" [(ngModel)]="pagination.minAge" min="0" max="99" />
	</div>
	<div class="col-sm-2">
		<input type="number" name="maxAge" class="form-control" title="Maximum age" [(ngModel)]="pagination.maxAge" min="0" max="99" />
	</div>
	<button type="button" class="btn btn-primary py-1" (click)="loadUsers()">
		Apply
	</button>
</div>
<div *ngIf="pagination.count">
	<hr />
	<h6>
		{{ pagination.count }} member(s)
	</h6>
	<small *ngIf="pagination.likers || pagination.likees">
		including
		<span *ngIf="pagination.likers">members who like me</span>
		<span *ngIf="pagination.likees">{{ pagination.likers ? " and " : "" }} members who I've liked</span>
	</small>
	<div class="row">
		<div *ngFor="let user of users" class="col-12 col-sm-6 col-md-3 col-lg-2">
			<app-member-card [user]="user" (liked)="liked(user.id, $event)" (disliked)="disliked(user.id, $event)"></app-member-card>
		</div>
	</div>
	<ngb-pagination *ngIf="pagination.count > pagination.pageSize" [pageSize]="pagination.pageSize" [collectionSize]="pagination.count"
					[(page)]="pagination.page" (pageChange)="pageChanged($event)"></ngb-pagination>
</div>
