<div class="row">
	<div class="checkbox mx-1">
		<label><input type="checkbox" name="likers" [(ngModel)]="pagination.likers" (ngModelChange)="loadUsers()" /> Who likes me</label>
	</div>
	<div class="checkbox mx-1">
		<label><input type="checkbox" name="likees" [(ngModel)]="pagination.likees" (ngModelChange)="loadUsers()" /> Whom I like</label>
	</div>
</div>
<div *ngIf="pagination.count">
	<hr />
	<h6>
		{{ pagination.count }} member(s)
	</h6>
	<small *ngIf="pagination.likers || pagination.likees">
		including
		<span *ngIf="pagination.likers">members who like me</span>
		<span *ngIf="pagination.likees">{{ pagination.likers ? " and " : "" }} members who I've liked</span>
	</small>
	<div class="row">
		<div *ngFor="let user of users" class="col-6 col-md-4 col-lg-3">
			<app-member-card [user]="user" (liked)="liked(user.id, $event)" (disliked)="disliked(user.id, $event)"></app-member-card>
		</div>
	</div>
	<ngb-pagination *ngIf="pagination.count > pagination.pageSize" [pageSize]="pagination.pageSize" [collectionSize]="pagination.count"
					[(page)]="pagination.page" (pageChange)="pageChanged($event)"></ngb-pagination>
</div>
