<div class="alerts" aria-live="polite" aria-atomic="true">
	<div class="alerts-container">
		<ngb-alert *ngFor="let alert of alerts"
					[@fadeInUpOnEnter]
					[@fadeOutOnLeave]
					[type]="getAlertType(alert)"
					[dismissible]="isDismissible(alert)"
					(close)="closeAlert(alert)">
			<div class="alert-body">
				<ng-template [ngIf]="isTemplate(alert)" [ngIfElse]="text">
					<ng-template [ngTemplateOutlet]="alert.content"></ng-template>
				</ng-template>
				<ng-template #text>
					<div [innerHTML]="alert.content"></div>
				</ng-template>
			</div>
		</ngb-alert>
	</div>
	<div class="ngb-toasts toasts-container">
		<ngb-toast *ngFor="let toast of toasts"
				   class="{{ getToastCssClass(toast) }}"
				   [@fadeInRightOnEnter]
				   [@fadeOutDownOnLeave]
				   [header]="toast.title"
				   [autohide]="isDismissible(toast)"
				   [delay]="toast.delay || 5000"
				   (hide)="closeToast(toast)">
			<div class="toast-body">
				<ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
					<ng-template [ngTemplateOutlet]="toast.content"></ng-template>
				</ng-template>
				<ng-template #text>
					<div [innerHTML]="toast.content"></div>
				</ng-template>
			</div>
		</ngb-toast>
	</div>
</div>
