.alerts {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	min-width: 100% !important;
	min-height: 100% !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 1200 !important;
	pointer-events: none;
	background: none !important;

	.alerts-container {
		position: absolute !important;
		top: 70px !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		min-width: 100%;

		> * {
			pointer-events: all;
		}

		.alert-body {
			max-height: 100px;
			overflow-y: auto;
			overflow-x: hidden
		}
	}

	.toasts-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		position: absolute !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		min-width: 100% !important;

		> * {
			pointer-events: all;
			margin: 10px;
		}

		.toast {
			flex-basis: auto;

			.toast-body {
				padding: 4px;
				overflow-y: auto;
				overflow-x: hidden;
			}
		}
	}
}
