@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

$primary: #444;
$secondary: #999;
$success: $white;
$info: $white;
$warning: #e67e22;
$danger: #e74c3c;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$default: $white;

$link-color: #3498db;
$link-hover-color: darken($link-color, 15%);

$link-secondary-color: #1abc9c;
$link-secondary-hover-color: darken($link-secondary-color, 15%);

$h6-small: 0.8rem;
$h6: 1rem;
$h5: 1.25rem;
$h4: 1.5rem;
$h3: 1.75rem;
$h2: 2rem;
$h1: 2.25rem;

$p-margin-x: 0.1rem;
$p-margin-y: 0.25rem;

$input-border-color-valid: $success !default;
$input-border-color-invalid: $danger !default;

$select-img-arrow: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='#{$input-color}' d='M2 0L0 2h4zm0 5L0 3h4z' /></svg>");

// for details about the values, refer to https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
$select-background-img: escape-svg($select-img-arrow);
$select-background-size: 8px 10px;
$select-background-position: right $input-height-inner-quarter center;

$select-background-img-valid: $select-background-img;
$select-background-size-valid: $select-background-size;
$select-background-position-valid: $select-background-position;

$select-background-img-invalid: $select-background-img, escape-svg($form-feedback-icon-invalid);
$select-background-size-invalid: $select-background-size, $input-height-inner-half $input-height-inner-half;
$select-background-position-invalid: right add($input-height-inner-quarter, add(8px, 0.5rem)) center, $select-background-position;

$tooltip-color: $light;
$tooltip-bg: $dark;
$tooltip-opacity: .8;
$tooltip-arrow-color: $dark;
