a {
	text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	text-transform: none !important;
}

.fa,
.ng-fa-icon {
	margin: 0 8px;
}

.status {
	color: #8dc859;

	.offline {
		color: #fe635f;
	}

	.fa,
	.ng-fa-icon {
		margin: 0;
	}
}

.divider-text {
	position: relative;
	text-align: center;
	min-width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
	border-radius: 4px;
}

.divider-text:after {
	content: "";
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

@media (min-width: 576px) {
	.divider-text {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	.divider-text {
		margin-top: -24px;
	}
}

app-root {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

app-lazy-image {
	height: 100%;
}
