html {
	width: 100%;
	height: 100%;
	outline: 0 solid transparent !important;

	* {
		outline: 0 solid transparent !important;
	}
}

body {
	font-size: 13px;
	width: 100%;
	height: 100%;
	/*background-color: #f9f9fa*/
}

app-root {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: bold;
	line-height: 1;
	text-transform: none !important;
}

h6 {
	font-size: 1rem;
}

h5 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.75rem;
}

h2 {
	font-size: 2rem;
}

h1 {
	font-size: 2.25rem;
}

.fa,
.ng-fa-icon {
	margin: 0 8px;
}

.status {
	color: #8dc859;

	.offline {
		color: #fe635f;
	}

	.fa,
	.ng-fa-icon {
		margin: 0;
	}
}

.stars {
	color: #FABA03;
}

.divider-text {
	position: relative;
	text-align: center;
	min-width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
	border-radius: 4px;
}

.divider-text:after {
	content: "";
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

@media (min-width: 576px) {
	.divider-text {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	.divider-text {
		margin-top: -24px;
	}
}
