<div class="card mb-4">
	<div class="card-img-wrapper">
		<app-lazy-image [src]="getUserImage(user)" [cssClass]="'card-img-top'" alt="{{ user.knownAs }}" [responsive]="true"></app-lazy-image>
		<div class="btn-group member-icons animate text-center" role="group" aria-label="Member actions">
			<button type="button" class="btn btn-primary" [routerLink]="['/members/', user.id]"><fa-icon icon="user"></fa-icon></button>
			<button *ngIf="user.canBeLiked" type="button" class="btn btn-primary" (click)="like(user.id)"><fa-icon icon="heart"></fa-icon></button>
			<button *ngIf="user.canBeDisliked" type="button" class="btn btn-primary" (click)="dislike(user.id)"><fa-icon icon="heart-broken"></fa-icon></button>
			<button type="button" class="btn btn-primary" [routerLink]="['/members/', user.id]" [queryParams]="{tab: 3}"><fa-icon icon="envelope"></fa-icon></button>
		</div>
	</div>
	<div class="card-body p-1">
		<h6 class="card-title text-center mb1">{{ user.knownAs }}</h6>
		<div class="card-text text-muted text-center">
			<p>{{ user.city }}, {{ user.country }}</p>
			<p>{{ user.age | number:'1.0-0' }}</p>
		</div>
	</div>
</div>
