.register {
	> .header {
		display: flex !important;
		align-items: center !important;
		text-align: left;

		img,
		svg {
			margin: 0 16px 0 0;
			width: 30%;
			-webkit-animation: mover 2s infinite alternate;
			animation: mover 1s infinite alternate;
		}
	}

	> .row {
		> .left {
			text-align: left;

			.form-signup {
				width: 100%;
			}
		}

		> .right {
			text-align: center;

			> .divider-text {
				margin-top: 8px;
				margin-bottom: 8px;
			}

			input,
			select,
			textarea {
				border: none;
				border-radius: 4px;
				padding: 0;
				width: 100%;
				background: #f8f9fa;
				font-weight: bold;
				color: #383d41;
				margin-top: 0;
				margin-bottom: 0;
				cursor: pointer;
			}

			button {
				white-space: nowrap;
			}
			
			.padding {
				font-weight: lighter;
			}
		}
	}
}

.btn-google {
	background-color: rgba(234, 67, 53, 0.75) !important;
	border: 1px solid #EA4335 !important;
	color: #fff !important;

	&:hover {
		background-color: #EA4335 !important;
	}
}

.btn-facebook {
	background-color: rgba(64, 93, 157, 0.75) !important;
	border: 1px solid #405D9D !important;
	color: #fff !important;

	&:hover {
		background-color: #405D9D !important;
	}
}

.btn-twitter {
	background-color: rgba(66, 174, 236, 0.75) !important;
	border: 1px solid #42AEEC !important;
	color: #fff !important;

	&:hover {
		background-color: #42AEEC !important;
	}
}

.btn-github {
	background-color: rgba(245, 245, 245, 0.75) !important;
	border: 1px solid #EBEBEB !important;
	color: #333 !important;

	&:hover {
		background-color: #EBEBEB !important;
	}
}

.btn-microsoft {
	background-color: rgba(0, 161, 241, 0.75) !important;
	border: 1px solid #00A1F1 !important;
	color: #fff !important;

	&:hover {
		background-color: #00A1F1 !important;
	}
}

.btn-apple {
	background-color: rgba(163, 170, 174, 0.75) !important;
	border: 1px solid #A3A3A3 !important;
	color: #fff !important;

	&:hover {
		background-color: #A3A3A3 !important;
	}
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}

@media (min-width: 576px) {
	.register {
		> .header {
			img,
			svg {
				margin: 0 16px 0 0;
				width: 30%;
			}
		}

		> .row {
			> .right {
				> .divider-text {
					margin-top: 8px;
					margin-bottom: 8px;
				}

				input,
				select,
				textarea {
					border-radius: 1.25rem;
					padding: 1%;
					width: 80%;
					margin-top: 30%;
					margin-bottom: 1%;
				}

				.btn {
					padding: 0.75rem 0.5rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.register {
		> .header {
			img,
			svg {
				margin: 0 16px 4px 0;
				width: 20%;
			}
		}

		> .row {
			> .right {
				> .divider-text {
					margin-top: -24px;
				}

				input,
				select,
				textarea {
					border-radius: 1.5rem;
					padding: 2%;
					width: 60%;
					margin-top: 30%;
					margin-bottom: 3%;
				}

				.btn {
					padding: 0.75rem 0;
				}
			}
		}
	}
}
