<div class="card bg-transparent border-0">
	<article class="card-body">
		<div class="register">
			<div class="header">
				<svg viewBox="0 0 100 100" width="128">
					<use xlink:href="assets/images/logo.svg#Layer_1" />
				</svg>
				<h2 class="card-title d-inline-block">
					Create Account
					<br />
					<small class="text-muted">Get started with your free account</small>
				</h2>
			</div>
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9 left">
					<form #signupForm="ngForm" (ngSubmit)="register()" class="form-signup">
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="text" id="userName" name="userName" #userName="ngModel"
									   [(ngModel)]="registrationInfo.userName" class="form-control my-1"
									   placeholder="User name" required autofocus />
								<div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
									User name is required or invalid
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="email" id="email" name="email" #email="ngModel"
									   [(ngModel)]="registrationInfo.email" class="form-control my-1"
									   placeholder="E-mail" required />
								<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
									E-mail is required or invalid
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="password" id="password" name="password" #password="ngModel"
									   [(ngModel)]="registrationInfo.password" class="form-control my-1"
									   placeholder="Password" required />
								<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
									Password is required or invalid
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="password" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
									   [ngModel]="confirmPassword" class="form-control my-1"
									   placeholder="Confirm Password" required />
								<div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
									Confirm Password is required or invalid
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="text" id="firstName" name="firstName" #firstName="ngModel"
									   [(ngModel)]="registrationInfo.firstName" class="form-control my-1"
									   placeholder="First name" required
									   (ngModelChange)="(knownAs.pristine || !registrationInfo.knownAs) && setKnownAs((($event || '') + ' ' + (lastName.value || '')).trim())" />
								<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
									First name is required or invalid
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="text" id="lastName" name="lastName" #lastName="ngModel"
									   [(ngModel)]="registrationInfo.lastName" class="form-control my-1"
									   placeholder="Last name"
									   (ngModelChange)="(knownAs.pristine || !registrationInfo.knownAs) && setKnownAs(((firstName.value || '') + ' ' + ($event || '')).trim())" />
								<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
									Last name is required or invalid
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="text" id="knownAs" name="knownAs" #knownAs="ngModel"
									   [(ngModel)]="registrationInfo.knownAs" class="form-control my-1"
									   placeholder="Known as" />
								<div [hidden]="knownAs.valid || knownAs.pristine" class="alert alert-danger">
									Known as is required or invalid
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="date" id="dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel"
									   [ngModel]="registrationInfo.dateOfBirth | date:'yyyy-MM-dd'"
									   class="form-control my-1" placeholder="Date of Birth" required />
								<div [hidden]="dateOfBirth.valid || dateOfBirth.pristine" class="alert alert-danger">
									Date of birth is required or invalid
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<select id="gender" name="gender" #gender="ngModel" [(ngModel)]="registrationInfo.gender"
										class="form-control my-1" placeholder="Date of Birth" required>
									<option value="0">Not specified</option>
									<option value="1">Male</option>
									<option value="2">Female</option>
								</select>
								<div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
									Gender is required
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="tel" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
									   [(ngModel)]="registrationInfo.phoneNumber" class="form-control my-1"
									   placeholder="Phone Number" />
								<div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
									Phone Number is required or invalid
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<ng-select id="countryCode" name="countryCode" #countryCode [selectOnTab]="true"
										   placeholder="Country" required [items]="countries | async"
										   bindLabel="name" bindValue="code"
										   [virtualScroll]="true" (change)="selectCountry($event)">
								</ng-select>
							</div>
							<div class="form-group col-lg-6">
								<ng-select id="cityId" name="cityId" #cityId="ngModel"
										   placeholder="City" required [items]="cities | async"
										   bindLabel="name" bindValue="id"
										   [virtualScroll]="true" [(ngModel)]="registrationInfo.cityId">
								</ng-select>
								<div [hidden]="cityId.valid || cityId.pristine" class="alert alert-danger">
									City is required
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary float-right col-12 col-md-6 col-lg-4" [disabled]="!signupForm.valid">Sign up</button>
					</form>
				</div>
				<div class="col-12 col-md-4 col-lg-3 right">
					<p class="divider-text">
						<span class="bg-light">OR</span>
					</p>
					<button type="button" class="btn btn-block btn-google"><fa-icon [icon]="['fab', 'google']"></fa-icon>Login via Google</button>
					<button type="button" class="btn btn-block btn-facebook"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>Login via Facebook</button>
					<button type="button" class="btn btn-block btn-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon>Login via Twitter</button>
					<button type="button" class="btn btn-block btn-github"><fa-icon [icon]="['fab', 'github']"></fa-icon>Login via Github</button>
					<button type="button" class="btn btn-block btn-microsoft"><fa-icon [icon]="['fab', 'windows']"></fa-icon>Login via Microsoft</button>
					<button type="button" class="btn btn-block btn-apple"><fa-icon [icon]="['fab', 'apple']"></fa-icon>Login via Apple</button>
				</div>
			</div>
		</div>
	</article>
</div>
