<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" [routerLink]="['/']">
		<img class="border-0" src="assets/images/logo_64x64.png" alt="logo" />
		<span class="px-2">{{ title }}</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="navbar-nav mr-auto">
			<div class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/weather']">Weather</a>
			</div>
			<ul *ngIf="isSignedIn(); else loginTemplate">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/members']">Matches</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/lists']">Lists</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<div class="dropdown" dropdown>
						<span class="mr-1">
							<img src="{{ photoUrl || '@images/user.jpg'}}" alt="">
						</span>
						<a class="dropdown-toggle text-light" dropdownToggle>
							Welcome {{ _userClient.token?.unique_name | titlecase }}
						</a>
						<div class="dropdown-menu mt-3" *dropdownMenu>
							<a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
							<div class="dropdown-item"></div>
							<a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
						</div>
					</div>
				</li>
			</ul>
			<ng-template #loginTemplate>
				<div class="nav-item" routerLinkActive="active">
					<a [routerLink]="['/login']" class="nav-link">Sign in</a>
				</div>
			</ng-template>
		</div>
	</div>
</nav>
