<div class="weather-padding">
	<div class="row container d-flex justify-content-center">
		<div class="grid-margin stretch-card">
			<div class="form-group form-group-sm row">
				<label for="selectedDate" class="col-2 col-md-2 col-lg-1 col-form-label">Date: </label>
				<div class="col-10 col-md-5 col-lg-3">
					<input type="date" id="selectedDate" placeholder="yyyy-MM-dd" class="form-control"
							[ngModel]="selectedDate | date:'yyyy-MM-dd'" (ngModelChange)="onDateChanged($event)" />
				</div>
			</div>
			<div class="card card-weather">
				<div class="card-body">
					<ngb-carousel #weatherCarousel="ngbCarousel" [showNavigationArrows]="false" [showNavigationIndicators]="false"
								[interval]="false" [activeId]="selectedDate">
						<ng-template ngbSlide [id]="key(forecast.date)" *ngFor="let forecast of forecasts">
							<div class="picsum-img-wrapper">
								<app-lazy-image [src]="image(forecast)" [cssClass]="'img-fluid'" [responsive]="true"></app-lazy-image>
							</div>
							<div class="carousel-caption">
								<div class="weather-date-location">
									<h3>{{ forecast.date | date:'EEEE' }}</h3>
									<p>{{ forecast.date | date:'d MMMM, yyyy' }}</p>
								</div>
								<div class="weather-data">
									<h4 class="display-3 text-white">{{ forecast.temperatureC }} <span class="symbol">°</span>C</h4>
									<p>{{ forecast.keyword }}</p>
									<p>{{ forecast.summary }}</p>
								</div>
							</div>
						</ng-template>
					</ngb-carousel>
				</div>
				<div class="card-body pt-0 d-flex weakly-weather">
					<div *ngFor="let forecast of forecasts" class="weakly-weather-item px-2"
						[class.active]="forecast.date === selectedDate" (click)="select(forecast.date)">
						<div class="d-flex">
							<div>{{ forecast.date | date:'EEE' }}</div>
							<div class="ml-auto">{{ forecast.temperatureC }} <span class="symbol">°</span></div>
						</div>
						<div class="text-left">{{ forecast.date | date:'d-M' }}</div>
						<img [src]="icon(forecast)" alt="" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
