@media (max-width:991.98px) {
	.weather-padding {
		padding: 0.5rem
	}
}

@media (max-width:767.98px) {
	.weather-padding {
		padding: 0.75rem
	}
}

.weather-padding {
	padding: 1rem
}

.stretch-card {
	width: 100%;
	min-width: 100%;
}

.card-weather {
	.weather-data {
		padding: 0;
	}

	.weather-date-location {
		padding: 0 0 10px;
	}

	.display-3 {
		font-size: 2.5rem
	}

	.picsum-img-wrapper {
		img {
			position: relative;
			width: 100%;
		}

		&:after {
			content: '\A';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.6);
			opacity: 65;
		}
	}

	.carousel-caption {
		text-align: left;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0 2%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.weakly-weather {
	overflow-x: auto;

	.weakly-weather-item {
		flex: 0 0 14.28%;
		border-right: 1px solid #f2f2f2;
		text-align: center;
		cursor: pointer;

		i {
			font-size: 1.2rem;
		}

		&.active {
			background-color: lightgrey;
		}

		&:hover {
			background-color: gainsboro;
		}
	}
}
