<div class="card bg-transparent border-0">
	<article class="card-body">
		<div class="register">
			<div class="header card-title">
				<svg viewBox="0 0 100 100" width="128">
					<use xlink:href="assets/images/logo.svg#Layer_1" />
				</svg>
				<div>
					<h2>Create Account</h2>
					<p class="text-muted">Get started with your free account</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9 left">
					<form [formGroup]="form$" (ngSubmit)="register(form$.value)" class="form-signup">
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="text" id="userName" formControlName="userName" required maxlength="128"
									   class="form-control my-1" placeholder="User name" autofocus />
								<div *ngIf="submitted && formHelper.isControlInvalid('userName')">
									<small *ngFor="let message of (formHelper.getControlErrors('userName'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="email" id="email" formControlName="email" required maxlength="2048"
									   class="form-control my-1" placeholder="E-mail" />
								<div *ngIf="submitted && formHelper.isControlInvalid('email')">
									<small *ngFor="let message of (formHelper.getControlErrors('email'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="password" id="password" formControlName="password" required maxlength="128"
									   class="form-control my-1" placeholder="Password" />
								<div *ngIf="submitted && formHelper.isControlInvalid('password')">
									<small *ngFor="let message of (formHelper.getControlErrors('password'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="password" id="confirmPassword" formControlName="confirmPassword" required maxlength="128"
									   class="form-control my-1" placeholder="Confirm Password" />
								<div *ngIf="submitted && formHelper.isControlInvalid('confirmPassword')">
									<small *ngFor="let message of (formHelper.getControlErrors('confirmPassword'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="text" id="firstName" formControlName="firstName" required maxlength="128"
									   class="form-control my-1" placeholder="First name" required
									   (ngModelChange)="setKnownAs($event, 'firstName')" />
								<div *ngIf="submitted && formHelper.isControlInvalid('firstName')">
									<small *ngFor="let message of (formHelper.getControlErrors('firstName'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="text" id="lastName" formControlName="lastName" maxlength="128"
									   class="form-control my-1" placeholder="Last name"
									   (ngModelChange)="setKnownAs($event, 'lastName')" />
								<div *ngIf="submitted && formHelper.isControlInvalid('lastName')">
									<small *ngFor="let message of (formHelper.getControlErrors('lastName'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<input type="text" id="knownAs" formControlName="knownAs" maxlength="128"
									   class="form-control my-1" placeholder="Known as" />
								<div *ngIf="submitted && formHelper.isControlInvalid('knownAs')">
									<small *ngFor="let message of (formHelper.getControlErrors('knownAs'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="date" id="dateOfBirth" formControlName="dateOfBirth" required
									   class="form-control my-1" placeholder="Date of Birth" />
								<div *ngIf="submitted && formHelper.isControlInvalid('dateOfBirth')">
									<small *ngFor="let message of (formHelper.getControlErrors('dateOfBirth'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<select id="gender" formControlName="gender" required
										class="form-control my-1" placeholder="Date of Birth">
									<option value="0">Not specified</option>
									<option value="1">Male</option>
									<option value="2">Female</option>
								</select>
								<div *ngIf="submitted && formHelper.isControlInvalid('gender')">
									<small *ngFor="let message of (formHelper.getControlErrors('gender'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<input type="tel" id="phoneNumber" formControlName="phoneNumber" maxlength="10"
									   class="form-control my-1" placeholder="Phone Number" />
								<div *ngIf="submitted && formHelper.isControlInvalid('phoneNumber')">
									<small *ngFor="let message of (formHelper.getControlErrors('phoneNumber'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6">
								<ng-select id="countryCode" formControlName="countryCode" required
										   [selectOnTab]="true" placeholder="Country" [items]="countries | async"
										   bindLabel="name" bindValue="code" [virtualScroll]="true" (change)="selectCountry($event)">
								</ng-select>
								<div *ngIf="submitted && formHelper.isControlInvalid('countryCode')">
									<small *ngFor="let message of (formHelper.getControlErrors('countryCode'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<ng-select id="cityId" formControlName="cityId" required
										   placeholder="City" [items]="cities | async"
										   bindLabel="name" bindValue="id"
										   [virtualScroll]="true">
								</ng-select>
								<div *ngIf="submitted && formHelper.isControlInvalid('cityId')">
									<small *ngFor="let message of (formHelper.getControlErrors('cityId'))" class="text-danger" [innerHTML]="message">
									</small>
								</div>
							</div>
						</div>
						<div class="btn-container row flex-row justify-content-around">
							<button type="button" class="btn btn-secondary col-12 col-sm-5" [routerLink]="['/login']">Sign in</button>
							<button type="submit" class="btn btn-primary col-12 col-sm-5 ml-sm-1" [disabled]="formHelper.isFormInvalid(form$)">Join</button>
						</div>
					</form>
				</div>
				<div class="col-12 col-md-4 col-lg-3 right">
					<p class="divider-text">
						<span class="bg-light">OR</span>
					</p>
					<button type="button" class="btn btn-block btn-google"><fa-icon [icon]="['fab', 'google']"></fa-icon>Login via Google</button>
					<button type="button" class="btn btn-block btn-facebook"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>Login via Facebook</button>
					<button type="button" class="btn btn-block btn-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon>Login via Twitter</button>
					<button type="button" class="btn btn-block btn-github"><fa-icon [icon]="['fab', 'github']"></fa-icon>Login via Github</button>
					<button type="button" class="btn btn-block btn-microsoft"><fa-icon [icon]="['fab', 'windows']"></fa-icon>Login via Microsoft</button>
					<button type="button" class="btn btn-block btn-apple"><fa-icon [icon]="['fab', 'apple']"></fa-icon>Login via Apple</button>
				</div>
			</div>
		</div>
	</article>
</div>
